body{
  background: -webkit-linear-gradient(to right, #ec2F4B,#009FFF);
  background: linear-gradient(to right, #ec2F4B,#009FFF);
}
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
.row {
   width:aut;
   background:rgba(9, 104, 104, 0.5);
   padding:30px;
   margin:left;
   margin-top: 10px;
   border-radius: 4px;
   font-family: calibri;
   color: white;
   box-shadow: 7px 13px 37px #000;
   margin-bottom: 30px;
}
.form-header {
  font-size: 22px;
  margin-bottom: 20px;
}
.form-title {
  color:rgb(255, 255, 255);
  font-size: 30px;
}
.form-label {
  width:100%;
  background: rgba(255, 255, 255, 0.7);
  padding:10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: calibri;
  font-size: 14px;
  color:black;
}
.form-control,.input-group-text{
  width: auto;
  background: rgba(255, 255, 255, 0.7);
  padding:10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: calibri;
  font-size: 14px;
  color:black;
}
h1 {
  color: rgb(255, 255, 255)
}
#centrado {
  text-align: center;
}
.responsivo{
  display: flex;
  flex-direction: column;
}
.bottom{
  width: auto;
  background: #1f53c5;
  border: none;
  padding: none;
  color:white;
  margin: 16px 0;
  font-size: 16px;
}
p {
  font-family: calibri;
}
@media  (max-width:400px){
  body, .responsivo, img{
    width: 100%;
  }
}
